<div>
  <div class="form-group">
    <label>Заголовок новости</label>
    <input class="form-control" name="title" [(ngModel)]="title" />
  </div>
  <div class="form-group">
    <label>Содержание новости</label>
    <textarea class="form-control" name="body" [(ngModel)]="body"></textarea>
  </div>
  <div class="form-group">
    <button class="btn btn-default" (click)="addNews(title, body)">Добавить</button>
  </div>
</div>
<div><h3>Добавленные элементы</h3>
  <ul *ngFor="let n of newss">
    <li>{{n.title}}  - {{n.body}}</li>
  </ul>
</div>
